@import './variables.scss';

.baseBtn {
  background: $color-1;

  &.testHoverWidth {
    font-weight: $btn-hover-font-weight;
  }
}

.baseBtnInList {
  min-height: $btn-height;
  line-height: $btn-height;
  margin: 12px 12px;
  padding: 4px 16px;
  border-radius: 4px;
}

.active {
  font-weight: $btn-hover-font-weight;
  transition: box-shadow 0.23s ease-in-out, font-weight 0.23s ease-in-out;
}
