@import './variables';

.stylizedBtn {
  text-align: center;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  background: linear-gradient($color-1, $color-2);
  user-select: none;
  box-shadow: $box-shadow;

  &:hover {
    box-shadow: $box-shadow-hover;
  }

  transition: box-shadow 0.23s ease-in-out, font-weight 0.23s ease-in-out;
  color: $color-font-button;
}

.hidden {
  display: none;
}
