@import './variables';

.nonBaseBtn {
  background: $btn-gradient-background;
}

.stylizedBtn {
  text-align: center;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  box-shadow: $box-shadow;

  &:hover {
    cursor: pointer;
    font-weight: $btn-hover-font-weight;
    box-shadow: var(--box-shadow-hover);
  }

  &:focus {
    outline: none;
    background-color: $color-1-focus;
  }

  transition: box-shadow 0.23s ease-in-out, font-weight 0.23s ease-in-out;
  color: $color-font-button;
}

.hidden {
  display: none;
}
