// SCSS variables
$btn-height: 40px;
$btn-hover-font-weight: 900;
$main-btn-height: 40vh;
$table-height: 52vh;
$board-narrow-width: 42vw;
$xs-board-narrow-width-diff: -5vh;
$board-wide-width: 80vw;
$option-button-width: 30vh;

$color-rarity-sign: #eadab9;
$color-placeholder-text: #ffffff66;
$color-background: #303030;
$color--box-background: #444;
$color-font: white;
$color-font-button: white;
$color-1: #6375bc;
$color-1-focus: #8a98cd;
$color-2: #485488;
$board-color: #97cbed44;
$bottom-link-color: #ccc;
$box-shadow: 0 0.6px 1.1px rgba(0, 0, 0, 0.024),
  0 1.8px 3px rgba(0, 0, 0, 0.035), 0 4.2px 7.2px rgba(0, 0, 0, 0.046),
  0 14px 24px rgba(0, 0, 0, 0.07);
$box-shadow-hover: 0 2px 1.6px rgba(0, 0, 0, 0.012),
  0 4.5px 3.6px rgba(0, 0, 0, 0.017), 0 7.9px 6.3px rgba(0, 0, 0, 0.021),
  0 12.5px 10px rgba(0, 0, 0, 0.025), 0 19.3px 15.5px rgba(0, 0, 0, 0.029),
  0 30.1px 24.1px rgba(0, 0, 0, 0.033), 0 50px 40px rgba(0, 0, 0, 0.038),
  0 100px 80px rgba(0, 0, 0, 0.05);

$main-background: transparent
  linear-gradient(
    180deg,
    #431f79 0%,
    #15161e 3%,
    #33394f 45%,
    #6a6faf 60%,
    #6b71b0 88%,
    #9a9ccc 99%,
    #eadab9 100%
  )
  0% 0% no-repeat padding-box;
$btn-gradient-background: linear-gradient($color-1, $color-2);
