@mixin colorScheme($dark: 0) {
  @if $dark == 0 {
    --color-background: #EFEFEF;
    --color--box-background: #ccc;
    --color-font: black;
    --color-font-button: white;
    --color-1: #97cbed;
    --color-2: #6375bc;
    --board-color: #97cbed44;
    --bottom-link-color: #5e71ba;
    --box-shadow: 0 0.2px 0.5px rgba(0, 0, 0, 0.02),
      0 0.5px 1.1px rgba(0, 0, 0, 0.028), 0 1px 2.1px rgba(0, 0, 0, 0.035),
      0 1.8px 3.8px rgba(0, 0, 0, 0.042), 0 3.3px 7.1px rgba(0, 0, 0, 0.05),
      0 8px 17px rgba(0, 0, 0, 0.07);
    --box-shadow-hover: 0 0.4px 0.7px rgba(0, 0, 0, 0.02),
      0 1px 1.6px rgba(0, 0, 0, 0.028), 0 1.9px 3px rgba(0, 0, 0, 0.035),
      0 3.4px 5.4px rgba(102, 116, 181, 0.042),
      0 6.3px 10px rgba(102, 116, 181, 0.25),
      0 15px 24px rgba(102, 116, 181, 0.37);
  } @else {
    --color-background: #303030;
    --color--box-background: #444;
    --color-font: white;
    --color-font-button: white;
    --color-1: #6375bc;
    --color-2: #485488;
    --board-color: #97cbed44;
    --bottom-link-color: #ccc;
    --box-shadow: 
      0 0.6px 1.1px rgba(0, 0, 0, 0.024),
      0 1.8px 3px rgba(0, 0, 0, 0.035),
      0 4.2px 7.2px rgba(0, 0, 0, 0.046),
      0 14px 24px rgba(0, 0, 0, 0.07);
    --box-shadow-hover: 0 2px 1.6px rgba(0, 0, 0, 0.012),
      0 4.5px 3.6px rgba(0, 0, 0, 0.017),
      0 7.9px 6.3px rgba(0, 0, 0, 0.021),
      0 12.5px 10px rgba(0, 0, 0, 0.025),
      0 19.3px 15.5px rgba(0, 0, 0, 0.029),
      0 30.1px 24.1px rgba(0, 0, 0, 0.033),
      0 50px 40px rgba(0, 0, 0, 0.038),
      0 100px 80px rgba(0, 0, 0, 0.05);
  }
}
