@import "./colorScheme.scss";

#page,
#page.themeSystem {
  @include colorScheme(0);
}
#page {
  --theme-preference: "light";
}

@media (prefers-color-scheme: dark) {
  #page.themeSystem {
    @include colorScheme(1);
  }
  #page {
    --theme-preference: "dark";
  }
}

#page.themeDark {
  @include colorScheme(1);
}

$btn-height: 40px;
$btn-hover-font-weight: 900;

.normalBtn {
  text-align: center;
  min-height: $btn-height;
  line-height: $btn-height;
  margin: 12px 12px;
  padding: 4px 16px;
  border-radius: 4px;
  background: var(--color-1);
  user-select: none;
  box-shadow: var(--box-shadow);
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto",
    "Segoe UI", "Helvetica Neue", "Lucida Grande", HYQiHei, FZYouH,
    Source Han Sans, Yu Gothic, Kozuka Gothic Pro, Meiryo, sans-serif;
  transition: box-shadow 2.3s ease-in-out;
  font-weight: 0.23s ease-in-out;

  &.testHoverWidth {
    font-weight: $btn-hover-font-weight;
  }

  &:hover {
    cursor: pointer;
    font-weight: $btn-hover-font-weight;
    box-shadow: var(--box-shadow-hover);
  }
}

.playingBtn,
.animateBtn:hover {
  font-weight: $btn-hover-font-weight;
  transition: box-shadow 0.23s ease-in-out, font-weight 0.23s ease-in-out;
}

*:focus {
  outline: none;
}
