.btn {
  text-align: center;
  overflow: hidden;
  font-family: Fira Code, iA Writer Mono V, IBM Plex Mono, Roboto Mono, Courier,
    monospace;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  background: linear-gradient(#97cbed, #6375bc);
  user-select: none;
}
